<div class="container" id="accordion">
    <div class="row">
        <div class="col-md-12">
            <div class="VivaTimeline">
                <dl>
                    {{#each list}}
                    <dt id="Jan2016">{{this.month_year_data}}</dt>
                        {{#each this.week_day}}
                    <dd class="pos-left clearfix">
                        <div class="circ"></div>
                        <div class="time">{{this.week_day_data}}</div>
                        <div class="events">
                            <div class="events-header">{{this.event_heard}}</div>
                            <div class="events-body">
                                {{#each this.event_body}}
                                <div class="row">
                                    <div class="col-md-6 pull-left">
                                        <img class="events-object img-responsive img-rounded"
                                             src="{{this.event_image}}"/>
                                    </div>
                                    <div class="events-desc">
                                        {{this.event_txt}}
                                    </div>
                                </div>
                                {{/each}}
                            </div>
                            <div class="events-footer">
                                123
                            </div>
                        </div>
                    </dd>
                        {{/each}}
                    {{/each}}
                        <dt>Dec 2015</dt>
                        <dt>Oct 2015</dt>
                        <dt>Sep 2015</dt>
                        <dt>Aug 2015</dt>
                </dl>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $('.VivaTimeline').vivaTimeline({
            carousel: true,
            carouselTime: 3000
        });
        var num=Math.floor(Math.random()*5+1);
        $(".pos-left clearfix:even").attr("class","pos-right clearfix");
    });
</script>